/* Universal Selector */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* This is an element that affects the body background color */
body {
    background-color: #d9dcd6;
}

/* This is an element that affects the link font color*/
a {
    color: #ffffff;
    text-decoration: none;
}

/* This is an element that affects the paragraph font size*/
p {
    font-size: 16px;
}

/* This is an element class that affects the horiseon header*/
.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

/* This is an element class that affects the h1 header*/
.header h1 {
    display: inline-block;
    font-size: 48px;
}

/* This is an element class that affects the horiSEOn header*/
.header h1 .seo {
    color: #d9dcd6;
}

/* This is an element class that affects the three links on the website*/
.header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

/* This is an element class that removes the style from the list type*/
.header nav ul {
    list-style-type: none;
}

/* This is an element class that affects how the links are being displayed*/
.header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

/* This is an element class that affects position of main image*/
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

/* This is an element class that affects the width, diplay and margin of all three blue boxes*/
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/* This is an element class that affects the blue box attributes*/
.blueboxes {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/* This is an element class that affects the max height of the displayed image*/
.blueboxes img {
    max-height: 200px;
}

/* This is an element class that affects h2 tag (titles in each blue box)*/
.blueboxes h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/* This is an element class that affects the placement of the displayed displayed*/
.float-left {
    float: left;
    margin-right: 25px;
}
.float-right {
    float: right;
    margin-left: 25px;
}

/* This is an element class that affects the right side box attributes*/
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

/* This is an element class that affects the margin and font color of the right side box*/
.sidebox {
    margin-bottom: 32px;
    color: #ffffff;
}

/* This is an element class that affects h3 tag (titles in right side box)*/
.sidebox h3 {
    margin-bottom: 10px;
    text-align: center;
}

/* This is an element class that affects the display, margin and max width of the displayed image*/
.sidebox img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* This is an element class that affects the footer attrinutes*/
.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

/* This is an element class that affects footer h2 tag*/
.footer h2 {
    font-size: 20px;
}

